@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0b0b0b;
}
.container{
height: 48vh;
background-image: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .9)), url(images/woman.jpg);
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    margin-top: -10px;
}
.about-hero{
    margin-top: -12px;
    height: 90vh;
    background-color: #0b0b0b;
}
.about-hero-contents{
    display: flex;
    height: 100%;
    width: 100%;
    gap: 30px;
    padding: 30px 100px;
    justify-content: center;
    align-items: center;
    color: white;
}
.about-hero-contents img{
    width: 80%;
    border-radius: 50px;
    box-shadow: 0 0 16px black;
}
.about-hero-contents img:hover{
    transform: translateY(-10px);  
}
.detail{
    width: 40%;
}
.detail h5, h1, p{
    margin-bottom: 10px;
}
.detail button{
    padding: 5px;
    width: 130px;
    height: 35px;
    margin-right: 10px;
    background: #00878e;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px;
    border-top-left-radius: 20px;
    cursor: pointer;
}
.detail button:hover{
    background-color: white;
    color: black;
    transform: translateX(-10px);
    box-shadow: 0 0 16px black;
}
.skill{
    display: flex;
    gap: 100px;
    padding: 0 60px;
    width: 100%;
    background-color: #0b0b0b;
    color: white;
}
.skill-text{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 30px;
}
.skill-text h2, p{
    margin-bottom: 10px;
    line-height: 1.5;
}
.indicator{
    height: 3px;
    background: rgba(255, 255, 255, .4);
    border-radius: 2px;
    margin-bottom: 15px;
    position: relative;
}
#indicator1::before{
        content: "";
        width: 85%;
        height: 3px;
        background-color: white;
        position: absolute;
        transition: var(--transition-one);
        border-radius: 2px;
        bottom: 0;
}
.one{
margin-right: 70px;
}
#indicator2::before{
    content: "";
    width: 90%;
    height: 3px;
    background-color: white;
    position: absolute;
    transition: var(--transition-one);
    border-radius: 2px;
    bottom: 0;
}
.two{
    margin-right: 51px;
}
#indicator3::before{
        content: "";
        width: 77%;
        height: 3px;
        background-color: white;
        position: absolute;
        transition: var(--transition-one);
        border-radius: 2px;
        bottom: 0;
}
.three{
    margin-right: 119px;
}
.Skill-set{
    display: flex;
    justify-content: space-between;
}
.year{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 50px 0;
}
.year-fig h1{
    font-size: 50px;
}
.image-box{
    margin-top: 100px;
    width: 100%;
    height: 100vh;
}

.imagebox-cover{
    background-image: linear-gradient(
      rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.3)), url(https://www.nationaldefensemagazine.org/-/media/sites/magazine/2022/12/smartshooter-smash-2000l-rgb.jpg);
    height: 380px;
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
}
.imagebox-content{
    display: grid;
    place-items: center;
    color: white;
    gap: 15px;
    padding-top: 90px;
}
.imagebox-content button{
    width: 120px;
    border-radius: 50px;
    height: 40px;
    color: black;
    background-color: #fff;
    margin-top: 20px;
}
.foot{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 80px;
    padding: 0 70px;
    color: white;
}
.foot-content{
    width: 340px;
}
.foot-content p{
color: white;
}
.foot-content img{
    width: 100px;
    height: 38px;
}
.foot-one{
    width: 300px;
}
.foot-one a{
    text-decoration: none;
    color: white;
}
.links-social{
    display: flex;
    gap: 15px;
}
.links-social i:hover{
    color: #00878e;
    transition: all .9s ease-in-out;
    font-size: 32px;
}
.foot-one h4{
    margin-bottom: 10px;
}
.foot-two-details{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.two-details{
    display: flex;
    align-items: center;
    gap: 15px;
}

@media (max-width: 768px) {
    .hero{
        padding-top: 130px;
    }
    .about-hero{
        margin-top: -12px;
        height: 60vh;
        background-color: #0b0b0b;
    }
    .about-hero-contents{
        gap: 25px;
    }
    .about-hero-contents img{
        width: 300px;
        border-radius: 50px;
        box-shadow: 0 0 16px black;
    }
    .detail{
        width: auto;
    }
    .image-box{
        margin-top: 100px;
        width: 100%;
        height: 50vh;
    }
    
}
@media (max-width: 1024px){
    .hero{
        padding-top: 130px;
    }
    .image-box{
        margin-top: 100px;
        width: 100%;
        height: 50vh;
    }
} 
@media (max-width: 480px){
    .about-hero-contents{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 30px;
        padding: 10px 15px;
        justify-content: center;
        align-items: center;
        color: white;
}
.skill{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 10px;
    width: 100%;
    background-color: #0b0b0b;
    color: white;
    justify-content: center;
    align-items: center;
}
.skill-text{
    display: flex;
    width: 100%;
    padding-left: 5px;
    margin-top: 100px;
    justify-content: center;
}
.imagebox-cover{
    background-image: linear-gradient(
      rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.3)), url(https://www.nationaldefensemagazine.org/-/media/sites/magazine/2022/12/smartshooter-smash-2000l-rgb.jpg);
    height: 460px;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
.imagebox-content{
    display: grid;
    place-items: center;
    font-size: 12px;
    color: white;
    gap: 15px;
    align-items: center;
    padding: 0px 30px;
    padding-top: 150px;
}
.imagebox-content button{
    width: 120px;
    border-radius: 50px;
    height: 30px;
    color: black;
    background-color: #fff;
    margin-top: 0px;
}
.foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 0px 15px;
    color: white;
    margin-top: 70px;
}
.foot-content{
    width: auto;
}
.foot-two-details{
    justify-content: none;
    margin-top: 20px;
}
.two-details{
    display: flex;
    gap: 10px;
}
}
@media (max-width: 1440px){
    .hero{
        padding-top: 130px;
    }
    .image-box{
        margin-top: 100px;
        width: 100%;
        height: 60vh;
    }  
}
@media (max-width: 425px) {  
    .about-hero-contents{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        gap: 30px;
        padding: 10px 15px;
        justify-content: center;
        align-items: center;
        color: white;
}
.skill{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 10px;
    width: 100%;
    background-color: #0b0b0b;
    color: white;
    justify-content: center;
    align-items: center;
}
.skill-text{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 5px;
    justify-content: center;
}
.year{
    display: flex;
    flex-direction: row;
}
.imagebox-cover{
    background-image: linear-gradient(
      rgba(0, 0, 0, .7), rgba(0, 0, 0, 0.3)), url(https://www.nationaldefensemagazine.org/-/media/sites/magazine/2022/12/smartshooter-smash-2000l-rgb.jpg);
    height: 460px;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
.imagebox-content{
    display: grid;
    place-items: center;
    font-size: 12px;
    color: white;
    gap: 15px;
    align-items: center;
    margin-left: 20px;
    padding: 0px 15px;
    padding-top: 140px;
}
.imagebox-content button{
    width: 120px;
    border-radius: 50px;
    height: 30px;
    color: black;
    background-color: #fff;
    margin-top: 0px;
}
.foot{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding: 0px 15px;
    color: white;
}
.foot-content{
    width: auto;
}
.foot-two-details{
    justify-content: none;
    margin-top: 10px;
}
.two-details{
    display: flex;
    gap: 10px;
}
}