
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
  :root{
    --primary-color: #FFFFFF;
    --shade-colour: #00878e;
    --choc-colour: #7B3F00;
    --grey-colour: #c0c0c0;
    --black: #000000;
    --transition-one: all 0.5s ease-in-out;
    --transition-two: all 0.7s ease-in-out;
  }
body{
  background-color: #0b0b0b;
}
.container{
  background-image: linear-gradient(
    rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(images/woman.jpg);
    height: 680px;
    background-repeat: no-repeat;
    border-bottom: 5px solid var(--primary-color);
    color: var(--primary-color);
    padding: 1.875rem 0px;
    width: 100%;
}
.navsec{
    display: flex;
    gap: 30px; 
}
.navsec img{
  width: 9.375rem;
  height: 3.75rem;
  padding: 5px 10px;
  margin-left: 0.9rem;
  margin-right: 11.25rem;
}

 
  .navbar a{
    margin-right: 2.5rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 	0.9rem;
    position: relative;
    
  }
.hori{
  margin: 8px 15px 0px 5px;
  width: 6.25rem;
}
  .navbar a::before{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--shade-colour);
    position: absolute;
    transition: var(--transition-one);
    bottom: -9px;
  }
  .navbar a:hover{
    font-weight: 700;
    color: var(--shade-colour);
    transition: var(--transition-one);
    transform: translateY(-10px);  
  }
  .navbar a:hover::before{
    width: 100%;
  }
  .navbar a.active::before{
    width: 100%;
  }
  button{
    padding: 5px;
    width: 6.25rem;
    margin-right: 10px;
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 8px;
    cursor: pointer;
  }
.butn{
    margin-left: 12.5rem;
  }
  #login{
  border-top-left-radius: 1.25rem;
  background:  linear-gradient(to right,  var(--shade-colour)2%, #0b0b0b);
  color: white;
  }
  #signup{
    border-top-right-radius: 1.25rem;
    color: white; 

  }
#login:hover{
  color: var(--black);
  background: #86dfe4;
  transform: translateY(-10px);  
}
#signup:hover{
  background: linear-gradient(to right, var(--shade-colour) 10%, #86dfe4);
  color: black;
  transform: translateY(-10px);  
}
.lore{
    margin-top: 1.563rem;
}
 .nav-line {
  width: 21.813rem;
 }
.hero{
    margin-top: 6.625rem;
    padding: 1.25rem;
    width: 37.5rem;
    margin-left: 9.375rem;
}
.hero h1{
  font-size: 56px;
  text-transform: uppercase;
}
.hero .hero-button{
    padding: 5px;
    width: 9.375rem;
    height: 2.188rem;
    margin: 1.25rem 0rem;
    background:  linear-gradient( to right, var(--shade-colour)2%, #0b0b0b);
    color: white;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 0.938rem;
    cursor: pointer;
}
.hero .hero-button:hover{
  padding: 5px;
  width: 9.375rem;
  height: 2.188rem;
  margin: 1.25rem 0px;
  background: none;
  color: var(--primary-color);
  font-weight: 600;
  border: 2px solid white;
  border-radius: 0.938rem;
  cursor: pointer;
  transition: var(--transition-two);
  transform: translateY(-10px);  
}
.line{
  margin-top: -12px;
  height: 8px;
  background: var(--shade-colour);
  position: relative;
  
}
.line a{
  text-decoration: none;
}
.line i{
  color: var(--primary-color);
  margin-left: auto;
  margin-right: auto;
 
}

.icon{
  width: 1.563rem;
  height: 1.563rem;
  border-radius: 50%;
  background: var(--shade-colour);
  display: grid;
  place-items: center;
  margin-left: 50%;
  margin-right: 50%;
  position: absolute;
  top: -1.063rem;
  
}

.features{
  display: flex;
  margin-bottom: 0rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: #0b0b0b;
}
.feature{
 margin-top: 3.125rem;
 padding: 0rem 1.875rem;
 margin-left: auto;
 margin-right: auto;
 width: 22.5rem;
}
.image-bg{
  background: linear-gradient( var(--shade-colour)2%, #0b0b0b);
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.image-bg i{
  color: var(--primary-color);
  font-size: 1.875rem;
}
h4{
color: white;
margin: 1.563rem 0px 0px 0px;
text-transform: uppercase;
}
.feature p{
color: white;
margin:0.938rem 0px;
}
.feature a{
  cursor: pointer;
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: capitalize;
  color:  var(--shade-colour);
}
.feature a:hover{
  transition: var(--transition-one);
  opacity: 0.5;
}
.hand-section{
  margin-top: 11.25rem;
  display: flex;
  background-color: #0b0b0b;
  color: white;
  position: relative;
  height: 23.75rem;
  width: 100%;
}
.horz{
  margin: 10px 0px 0px 0px;
  width: 2.5rem;
}
.handy{
  width: 25rem;
  margin-top: 6.25rem;
  margin-left: 11.875rem;
  
}
.hand-section-phone{
  height: 28.125rem;
  padding-right: 6.25rem;

}
.hand-section .hand-section-phone{
 position: absolute;
 top: -4.375rem;
 left: 40.625rem;
}
.hand-button{
  padding: 5px;
  width: 9.375rem;
  height: 2.188rem;
  margin: 1.25rem 0rem;
  color: var(#0b0b0b);
  background: var(--primary-color);
  font-weight: 600;
  border-radius: 0.938rem;
  cursor: pointer;
}
.hand-button:hover{
padding: 5px;
width: 9.375rem;
height: 2.188rem;
margin: 1.25rem 0rem;
background: var(--shade-colour);
color: var(--primary-color);
font-weight: 600;
border-radius: 0.938rem;
cursor: pointer;
transition: var(--transition-two);
transform: translateY(-10px);  
}
.brands{
  width: 56.25rem;
  margin-top: 2.5rem;
  margin-left: 20.625rem;
  margin-right: auto;
  margin-bottom: 2.5rem;
  display: flex;
  gap: 3.125rem;
  
}
.brands i{
  font-size: 2.813rem;
  color: var(--primary-color);
  cursor: pointer;
  
}

.brands i:hover{
  transform: scale(1.4);
  transition: var(--transition-one);
}

.fa-brands{
  font-size: 1.563rem;
  color: var(--primary-color);
}

.shade-hr{
  width: 4.375rem;
  height: 0px;
  background: var(--primary-color);
}
.higher-footer{
 height: 12.5rem;
 background: linear-gradient( var(--shade-colour)2%, #0b0b0b);
 padding: 3.125rem 0;
 align-items: center;

}
.social-links{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.875rem;
}
.social-links i:hover{
  transform: scale(1.5);
  transition: var(--transition-one);
}
.links {
  margin-top: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  gap: 1.25rem;
}
.links a{
color: var(--primary-color);
text-decoration: none;
}
.links a:hover{
  text-decoration: underline;
  }
  .links nav{
    display: flex;
    gap: 0.625rem;
  }
  .details{
    display: flex;
    gap: 0.625rem;
    align-items: center;
  }
.lower-footer {
  height: 2.188rem;
  background: var(--black);
  color: var(--primary-color);
  background: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
}
.f-line{
  margin-top: -0.75rem;
  height: 2px;
  background: var(--black);
  position: relative;
  
}
.f-line i{
  color: var(--shade-colour);
  margin-left: auto;
  margin-right: auto;
}
.f-line a{
  text-decoration: none;
}
.ico{
  width: 1.563rem;
  height: 1.563rem;
  border-radius: 50%;
  background: var(--black);
  display: grid;
  place-items: center;
  margin-left: 50%;
  margin-right: 50%;
  position: absolute;
  top: -1.063rem;
  
}
.lower-footer p{
  display: flex;
  font-weight: 700;
  justify-content: center;
  align-items: center;
}
.details .dot{
 height: 5px;
 width: 5px;
 background-color: #FFFFFF;
 border-radius: 50%;
}


@media (max-width: 1024px) {
  /* Styles go here*/
body{
    margin: 0px;
}
  .navsec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.625rem; 
}
.brands{
  width: 100%;
  margin: 0;
  justify-content: center;
  padding: 3rem 0;
  /* margin-top: 2.5rem;
  margin-left: 20.625rem;
  margin-right: auto;
  margin-bottom: 2.5rem; */
  gap: 3.125rem;
  
}
.handy{
  width: 25rem;
  margin-top: 6.25rem;
  margin-left: 6.875rem;
  
}
.hand-section-phone{
  height: 28.125rem;
  padding-right: 2.25rem;
}
.hand-section .hand-section-phone{
  position: absolute;
  top: -4.375rem;
  left: 20.625rem;
 }

  .navbar a{
    margin-right: 0.625rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    position: relative;
    
  }
.hori{
  margin: 0.5rem 0.938rem 0rem 0.313rem;
  width: 3.75rem;
}
  .navbar a::before{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--shade-colour);
    position: absolute;
    transition: var(--transition-one);
    bottom: -0.563rem;
  }
  .navbar a:hover{
    font-weight: 700;
    color: var(--shade-colour);
    transition: var(--transition-one);
    transform: translateY(-0.625rem);  
  }
  .navbar a:hover::before{
    width: 100%;
  }
  .navbar a.active::before{
    width: 100%;
  }
  .navsec img{
    width: 8.125rem;
    height: 3.75rem;
    padding: 0.313rem 0.625rem;
    margin-left: 0.938rem;
    margin-right: 5rem;
    overflow: hidden;
  }
  button{
    padding: 0.313rem;
    width: 6.25rem;
    margin-right: 0.625rem;
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    border: 0.125rem solid white;
    border-radius: 0.5rem;
    cursor: pointer;
  }
.butn{
    margin-left: 7.5rem;
  }
  .nav-line {
    width: 16.25rem;
   }
   .hand-section-phone{
    height: 28.125rem;
    padding-right: 0.25rem;
    overflow: hidden;
  
  }
  .hand-section .hand-section-phone{
   position: absolute;
   top: -4.375rem;
   left: 40.625rem;
   overflow: hidden;
  }
}

@media (max-width: 768px) {
  /* Styles go here*/
  body{
    margin: 0px;
  }
.navsec{
  display: flex;
  gap: 20px; 
}
.navsec img{
width: 3.599rem;
height: 2.700rem;
padding: 5px 0px;
margin-left: 0.7rem;
margin-right: 0.5rem;
}
.butn{
  margin-left: 0.456rem;
}
.hero{
  margin-top: 6.625rem;
  padding: 1.25rem;
  width: 37.5rem;
  margin-left: 1.375rem;
}
.hero h1{
font-size: 46px;
text-transform: uppercase;
}
.brands{
  width: 100%;
  margin: 0;
  justify-content: center;
  padding: 3rem 0;
  /* margin-top: 2.5rem;
  margin-left: 20.625rem;
  margin-right: auto;
  margin-bottom: 2.5rem; */
  gap: 3.125rem;
  
}
.handy{
  width: 400px;
  margin-top: 6.25rem;
  margin-left: 0.875rem;
  
}
.hand-section-phone{
  height: 28.125rem;
  width: 23.968rem;
  padding-right: 6.25rem;
  margin-left: 23rem;

}

.hand-section .hand-section-phone{
 position: absolute;
 top: -4.375rem;
 left: 0.625rem;
}
  .navbar a{
    margin-right: 0.625rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    position: relative;
    
  }
.hori{
  margin: 0.5rem 0.938rem 0rem 0.313rem;
  width: 3.75rem;
}
  .navbar a::before{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--shade-colour);
    position: absolute;
    transition: var(--transition-one);
    bottom: -0.563rem;
  }
  .navbar a:hover{
    font-weight: 700;
    color: var(--shade-colour);
    transition: var(--transition-one);
    transform: translateY(-0.625rem);  
  }
  .navbar a:hover::before{
    width: 100%;
  }
  .navbar a.active::before{
    width: 100%;
  }
  
  button{
    padding: 0.313rem;
    width: 6.25rem;
    margin-right: 0.625rem;
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    border: 0.125rem solid white;
    border-radius: 0.5rem;
    cursor: pointer;
  }
.butn{
    margin-left: 7.5rem;
  }
  .nav-line {
    width: 16.25rem;
   }
   .hand-section-phone{
    height: 28.125rem;
    padding-right: 0.25rem;
  }
  .hand-section{
    margin-left: 10px;
  }
  .hand-section .hand-section-phone{
   position: absolute;
   top: -4.375rem;
  }
}
@media (max-width: 425px) {
  /* Styles go here*/
  body{
    margin: 0px;
  }
.navsec{
  display: flex;
  gap: 10px; 
  padding: 10px;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
}
.navsec img{
width: 3.0rem;
height: 2.700rem;
padding: 5px 0px;
margin-left: 0.7rem;
margin-right: 0.5rem;
}
.butn{
  margin-left: 0.456rem;
}
.hero{
  margin-top: 5.625rem;
  padding: 5px;
  height: 2.756rem;
  width: 290px;
  margin-left: 1.375rem;
}
.hero h1{
font-size: 36px;
text-transform: uppercase;
}

.handy{
  width: 290px;
  margin-top: 0.25rem;
  margin-left: 0.875rem;
  
}
.hand-section{
  width: auto;
  height: 600px;
}
.hand-section-phone{
  height: 28.125rem;
  width: 18.968rem;
  padding-right: 6.25rem;
  margin-left: 0rem;
  margin-top: 340px;

}

.hand-section .hand-section-phone{
 position: absolute;
 top: -4.375rem;
 left: 0.625rem;
}
  .navbar a{
    margin-right: 0.625rem;
    text-decoration: none;
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    position: relative;
    
  }
.hori{
  margin: 0.5rem 0.938rem 0rem 0.313rem;
  width: 3.75rem;
}
  .navbar a::before{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--shade-colour);
    position: absolute;
    transition: var(--transition-one);
    bottom: -0.563rem;
  }
  .navbar a:hover{
    font-weight: 700;
    color: var(--shade-colour);
    transition: var(--transition-one);
    transform: translateY(-0.625rem);  
  }
  .navbar a:hover::before{
    width: 100%;
  }
  .navbar a.active::before{
    width: 100%;
  }
  
  button{
    padding: 0.313rem;
    width: 6.25rem;
    margin-right: 0.625rem;
    background-color: transparent;
    font-weight: 600;
    text-transform: uppercase;
    border: 0.125rem solid white;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 30px;
  }
.butn{
    margin-left: 1.5rem;
  }
  .nav-line {
    width: 0px;
   }
   .features{
    display: flex;
    flex-direction: column;
    margin-bottom: 0rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #0b0b0b;
  }
  .feature{
   margin-top: 3.125rem;
   padding: 0rem 1.875rem;
   margin-left: auto;
   margin-right: auto;
   width: 22rem;
  }
  .hand-section{
    margin-top: 6.25rem;
    display: flex;
    flex-direction: column;
    background-color: #0b0b0b;
    color: white;
    position: relative;
    height: 45.75rem;
    width: auto;
  }
   .hand-section-phone{
    height: 28.125rem;
    padding-right: 0.25rem;

  }
  .horz{
    margin: 10px 0px 0px 0px;
    width: 2.6rem;
  }

  .brands{
    width: 100%;
    margin: 0;
    justify-content: center;
    padding: 1rem 0;
    /* margin-top: 2.5rem;
    margin-left: 20.625rem;
    margin-right: auto;
    margin-bottom: 2.5rem; */
    gap: 1.125rem;
  }
  .brands i{
    font-size: 1.813rem;
    color: var(--primary-color);
    cursor: pointer;
    
  }
  .links {
    margin-top: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    font-size: 10px;
    padding: 0px 5px;
    gap: 1.25rem;
  }
.details {
  display: flex;
  flex-direction: column;
  gap: 0.225rem;
  align-items: center;
}

}